:root {
    --color-text: #fff;
    --color-background: #000;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
}

main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}