:root {
  --color-main-dark: #001524;
  --color-main-light: #0d1321ea;

  --white-soft: #f8f8f8;
  --white-mute: #ffffff36;

  --indigo: #2c3e50;

  --divider-dark: rgba(84, 84, 84, 0.65);

  --text-dark: rgba(235, 235, 235, 0.64);

  --color-success: #379237;
  --color-danger: #CC3636;
}

:root {
  --section-gap: .5em;
  --section-gap-medium: 1em;

  --color-text: var(--white-soft);
  --color-placeholder: var(--text-dark);

  --color-active-light: var(--white-mute);

  --color-border-light: var(--white-soft);
  --color-border-dark: var(--divider-dark);

  --color-background-light: var(--color-main-light);
  --color-background-dark: var(--color-main-dark);
}

/* 
@media (prefers-color-scheme: light) {
  :root {

  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darkgrey;
}

body {
  margin: 0;
  height: 100vh;
  color: var(--color-text);
  background-color: var(--color-background-light);
  
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}